* {
    margin: 0;
    padding: 0;
}
body {
    background: url('./background.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.container {
    margin-top: 100px;
}
.contacts {
    font-size: 56px;
}
.contacts, p.contacts a, address, .action, .trigger {
    text-align: center;
}
.contacts, p.contacts a, .action, .trigger {
    color: rgb(231, 97, 34);
    font-family: 'Open Sans Condensed', sans-serif;
}
address {
    font-family: 'Open Sans', sans-serif;
}
.icons {
    justify-content: center;
}
.icons a {
    list-style-type: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 30px 4px;
}
.icons__item {
    font-size: 20px;
    text-align: center;
}
.icons__item a {
    width: 40px;
    height: 40px;
}
.icons__item1 {
    background-color: rgb(83, 120, 188);
}
.icons__item2 {
    background-color: rgb(54, 208, 247);
}
.icons__item3 {
    background-color: rgb(0, 122, 181);
}
.icons__item4 {
    background-color: rgb(233, 42, 42);
}
.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-pinterest {
    line-height: 40px;
}
.icons__item a:hover, .fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-pinterest, .trigger, .icons__item, address, .learn-more-btn{
    color: rgb(255, 255, 255);
}
.action {
    font-size: 30px;
}
.trigger {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
input, #txtar, .learn-more-btn {
    width: 100%;
}
fieldset input, #txtar, .learn-more-btn {
    border-radius: 4px;
}

fieldset input {
    height: 45px;
    line-height: 45px;
    margin: 7px;
    text-indent: 10px;
}

#txtar {
    margin: 7px;
    height: 163px;
    resize: none;
    padding: 10px;
}
.learn-more-btn {
    height: 45px;
    background-color: rgb(93, 189, 177);
    border: none;
    font-weight: 500;
}